@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Titillium+Web:wght@300&display=swap');

#logo-sm {
    height: 10rem;
    width: 10rem;
    padding: 10px;
}

#logo-med {
    height: 20rem;
    margin: 20px auto;
    display: flex;
    border-radius: 10%;
}

.page-body {
    background-color: rebeccapurple;
    color: white;
}

h1 {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    font-family: "Space Grotesk", sans-serif;
}

h3 {
    margin-top: 20px;
    text-align: left;
    padding: 10px;
    font-family: "Space Grotesk", sans-serif;
}

.description {
    text-align: center;
    padding: 25px;
    font-size: 24px;
    font-family: "Titillium Web", sans-serif;
}

.navbar {
    background-color: black;
}

.nav-link {
    color: white;
    font-size: 28px;
    margin: 10px;
}

.nav-link:hover {
    color: gold;
}

.dropdown-menu {
    background-color: purple;
}

.dropdown-item {
    color: gold;
}

.tuba-sketch {
    height: 80%;
    margin-left: 25px;
    min-width: 25px;
}

.web-services {
    background: rebeccapurple;
    color: white;
}

.flyer {
    margin: auto;
    display: flex;
    padding: 20px;
    height: 750px;
}

.folio {
    display: flex;
    padding: 20px;
    margin-right: 10px;
}

#webdev {
    margin-bottom: 50px;
    min-height: 400px;
}
